<!DOCTYPE html>
<html>
  <head>
    <title>eService Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eServices_Login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="header-left-most">
        <img src="{{ url_for('static', filename='Images/CalendarBlank.png') }}" class="CalendarBlank">
        <p>MON - FRI: 08:00 AM - 17:30 PM</p>
      </div>
      <div class="header-center">
        <img src="{{ url_for('static', filename='Images/PhoneCall.png') }}" class="PhoneCall">
        <p>Hotline: (+632) 8-465-2400</p>
      </div>
      <div class="header-right-most">
        <p>Support: <span class="immigration-email">xinfo@immigration.gov.ph</span></p>
        <img src="{{ url_for('static', filename='Images/PhilippineCircle.png') }}" class="PhilippineCircle">
      </div>
    </div>
    <div class="below-header">
      <div class="below-header-left">
        <img src="{{ url_for('static', filename='Images/ImmigrationIcon.png') }}" class="ImmigrationIcon">
        <div class="below-header-left-text">
          <p class="republic-philippines">Republic of the Philippines</p>
          <p class="bureau-immigration">Bureau of Immigration</p>
        </div>
      </div>
      <div class="below-header-center">
        <a href="{{ url_for('auth.login') }}" class="Home">Log in</a>
        <a href="{{ url_for('home.home_index') }}" class="Home">Home</a>
        <a href="{{ url_for('home.about') }}"  class="About">About</a>
        <a href="{{ url_for('function.display_data') }}"  class="Services">Services</a>
        <a href="{{ url_for('home.visa') }}"  class="Visas">Visas</a>
        <a href="{{ url_for('home.eservices') }}"  class="eServices">eServices</a>
      </div>
      <div class="below-header-right">
        <img src="{{ url_for('static', filename='Images/Phone.png') }}" class="Phone">
        <p class="contact">Contact us</p>
      </div>
    </div>
    <div class="eServices-image">
      <img src="{{ url_for('static', filename='Images/eServices.png') }}" class="eServices-png">
      <div class="text-align">
        <p class="overlay-text-1">eServices</p>
        <a href="{{ url_for('home.home_index') }}" class="overlay-text-2">Home</a>
        <p class="overlay-text-3">&#10132 <span class="eServices-orange">eServices</span></p>
      </div>
    </div>
    <div class="IconBackground">
      <img src="{{ url_for('static', filename='Images/IconBackground.png') }}" class="IconBackground-png">
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="login-container">
      <div class="login">
        <p class="Sign-in-text">Sign in to your Account</p>
        <div class="icons">
          <button class="login-button" type="button" onclick="window.location.href='{{ url_for('auth.login') }}'">
            <p>Login</p>
          </button>
          <button class="register-button" type="button" onclick="window.location.href='{{ url_for('auth.register') }}'">
            <p>Register</p>
          </button>
        </div>
       <form class="email" action="/login" method="POST">
          <p class="email-text">Email Address</p>
          <input type="text" name="email" class="email-enter" placeholder="Email Address" required>

          <p class="email-text">Password</p>
          <input type="password" name="password" class="email-enter" placeholder="Password" required>

          <div class="remember-me">
            <input type="checkbox" class="remember-checkbox" name="remember" id="me">
            <p>Remember me?</p>
          </div>

          <p class="reminder-text">Please sign in to access your account and manage your immigration services securely. ...</p>

          <button class="login-click-button" type="submit">
            Log in
          </button>
        </form>
      </div>
    </div>
    <div class="footer">
      <img src="{{ url_for('static', filename='Images/footer.png') }}" class="FooterPNG">
    </div>
  </body>
</html>