<!DOCTYPE html>
<html>

<head>
  <title>Online Verification</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Online_Verification.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@0;1&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="header-left-most">
      <img src="{{ url_for('static', filename='Images/CalendarBlank.png') }}" class="CalendarBlank">
      <p>MON - FRI: 08:00 AM - 17:30 PM</p>
    </div>
    <div class="header-center">
      <img src="{{ url_for('static', filename='Images/PhoneCall.png') }}" class="PhoneCall">
      <p>Hotline: (+632) 8-465-2400</p>
    </div>
    <div class="header-right-most">
      <p>Support: <span class="immigration-email">xinfo@immigration.gov.ph</span></p>
      <img src="{{ url_for('static', filename='Images/PhilippineCircle.png') }}" class="PhilippineCircle">
    </div>
  </div>
  <div class="below-header">
    <div class="below-header-left">
      <img src="{{ url_for('static', filename='Images/ImmigrationIcon.png') }}" class="ImmigrationIcon">
      <div class="below-header-left-text">
        <p class="republic-philippines">Republic of the Philippines</p>
        <p class="bureau-immigration">Bureau of Immigration</p>
      </div>
    </div>
    <div class="below-header-center">
      <a href="{{ url_for('auth.login') }}" class="Home">Log in</a>
      <a href="{{ url_for('home.home_index') }}" class="Home">Home</a>
      <a href="{{ url_for('home.about') }}"  class="About">About</a>
      <a href="{{ url_for('function.display_data') }}"  class="Services">Services</a>
      <a href="{{ url_for('home.visa') }}"  class="Visas">Visas</a>
      <a href="{{ url_for('home.eservices') }}"  class="eServices">eServices</a>
    </div>
    <div class="below-header-right">
      <img src="{{ url_for('static', filename='Images/Phone.png') }}" class="Phone">
      <p class="contact">Contact us</p>
    </div>
  </div>
  <div class="verification-container">
    <div class="first-box">
      <div class="first-box-left">
        <img src="{{ url_for('static', filename='Images/ImmigrationLogo.png') }}" class="ImmigrationLogo">
      </div>
      <div class="first-box-right">
        <p class="online-verification-text">ONLINE VERIFICATION</p>
        <p class="reference-text">Reference Number:</p>
        <input type="text" class="reference-number-input" placeholder="Search by reference number...">
        <button class="search-button">
          <img src="{{ url_for('static', filename='Images/SearchPNG.png') }}" class="SearchPNG">
          <p class="search-text">Search</p>
        </button>
      </div>
    </div>
    <div class="second-box">
      <div class="second-box-left">
        <img src="{{ url_for('static', filename='Images/ServicesPNG.png') }}" class="ServicesPNG">
        <img src="{{ url_for('static', filename='Images/OnlineVerificationPNG.png') }}" class="OnlineVerificationPNG">
        <img src="{{ url_for('static', filename='Images/FAQPNG.png') }}" class="FAQPNG">
      </div>
      <div class="second-box-right">
        <div class="right-box-second">
          <table id="verificationTable" class="display" style="width:100%">
            <thead>
              <tr>
                <th>Reference Number</th>
                <th>Location</th>
                <th>Transaction</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for item in user_functions %}
              <tr>
                <td>{{ item.entry_no }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.transaction }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.created_at.strftime('%Y-%m-%d') }}</td>
                <td>{{ item.date_updated.strftime('%Y-%m-%d') if item.date_updated else '' }}</td>
                <td>
                  <a href="{{ url_for('form.edit_petition', entry_no=item.entry_no) }}">
                    <button type="button" class="btn btn-update">Update</button>
                  </a>
                  <form method="POST" action="{{ url_for('function.delete_entry', entry_no=item.entry_no) }}" onsubmit="return confirm('Are you sure you want to delete this entry?');">
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <p class="form-text">View the complete application form and its current processing status. Click <span
            class="view-text">View</span></p>
        <p class="form-text">Make changes to your application if your information has changed or needs correction. Click
          <span class="update-text">Update</span>
        </p>
        <p class="form-text">Permanently delete this application form. This action is irreversible. Click <span
            class="delete-text">Delete</span></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <img src="../Images/Footer.png" class="FooterPNG">
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#verificationTable').DataTable({
        pageLength: 10,
        lengthMenu: [10, 20, 30],
        scrollY: "370px",
        scrollCollapse: true,
        paging: true,
        responsive: true
      });
    });

    function viewRow(ref) {

    }

    function updateRow(ref) {

    }

    function deleteRow(ref) {

    }
  </script>
</body>

</html>