<!DOCTYPE html>
<html>
  <head>
    <title>eService Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eServices_Register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header and Navigation (same as yours) -->
    <div class="header">
      <div class="header-left-most">
        <img src="{{ url_for('static', filename='Images/CalendarBlank.png') }}" class="CalendarBlank">
        <p>MON - FRI: 08:00 AM - 17:30 PM</p>
      </div>
      <div class="header-center">
        <img src="{{ url_for('static', filename='Images/PhoneCall.png') }}" class="PhoneCall">
        <p>Hotline: (+632) 8-465-2400</p>
      </div>
      <div class="header-right-most">
        <p>Support: <span class="immigration-email">xinfo@immigration.gov.ph</span></p>
        <img src="{{ url_for('static', filename='Images/PhilippineCircle.png') }}" class="PhilippineCircle">
      </div>
    </div>
    <div class="below-header">
      <div class="below-header-left">
        <img src="{{ url_for('static', filename='Images/ImmigrationIcon.png') }}" class="ImmigrationIcon">
        <div class="below-header-left-text">
          <p class="republic-philippines">Republic of the Philippines</p>
          <p class="bureau-immigration">Bureau of Immigration</p>
        </div>
      </div>
      <div class="below-header-center">
        <a href="{{ url_for('auth.login') }}" class="Home">Log in</a>
        <a href="{{ url_for('home.home_index') }}" class="Home">Home</a>
        <a href="{{ url_for('home.about') }}"  class="About">About</a>
        <a href="{{ url_for('function.display_data') }}"  class="Services">Services</a>
        <a href="{{ url_for('home.visa') }}"  class="Visas">Visas</a>
        <a href="{{ url_for('home.eservices') }}"  class="eServices">eServices</a>
      </div>
      <div class="below-header-right">
        <img src="{{ url_for('static', filename='Images/Phone.png') }}" class="Phone">
        <p class="contact">Contact us</p>
      </div>
    </div>
    <div class="eServices-image">
      <img src="{{ url_for('static', filename='Images/eServices.png') }}" class="eServices-png">
      <div class="text-align">
        <p class="overlay-text-1">eServices</p>
        <a href="{{ url_for('home.home_index') }}" class="overlay-text-2">Home</a>
        <p class="overlay-text-3">&#10132 <span class="eServices-orange">eServices</span></p>
      </div>
    </div>
    <div class="IconBackground">
      <img src="{{ url_for('static', filename='Images/IconBackground.png') }}" class="IconBackground-png">
    </div>

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <!-- FORM START -->
    <form class="register" method="POST" action="/register">
      <div class="icons">
        <button type="button" class="login-button" onclick="window.location.href='{{ url_for('auth.login') }}'"><p>Login</p></button>
        <button type="button" class="register-button" onclick="window.location.href='{{ url_for('auth.register') }}'"><p>Register</p></button>
      </div>

      <div class="first-row">
        <div class="account-type">
          <p class="account-text">Account Type</p>
          <select name="account_type" id="select-account" class="account">
            <option value="" disabled selected>Select Value</option>
            <option value="Individual">Individual</option>
            <option value="Administrator">Administrator</option>
          </select>
        </div>
        <div class="sex">
          <p class="sex-text">Sex</p>
          <select name="user_gender" class="sex-input">
            <option value="" disabled selected>Select Value</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
        <div class="civil-status">
          <p class="civil-status-text">Civil Status</p>
          <select name="user_civil_status" class="civil-status-input">
            <option value="" disabled selected>Select Value</option>
            <option value="M">Married</option>
            <option value="S">Single</option>
            <option value="W">Widowed</option>
            <option value="D">Divorced</option>
          </select>
        </div>
      </div>

      <div class="second-row">
        <div class="prefix">
            <p class="prefix-text">Prefix</p>
            <input type="text" class="prefix-input" name="prefix">
          </div>
          <div class="first-name">
            <p class="first-name-text">First Name</p>
            <input type="text" class="first-name-input" name="first_name">
          </div>
          <div class="middle-name">
            <p class="middle-name-text">Middle Name</p>
            <input type="text" class="middle-name-input" name="middle_name">
          </div>
          <div class="last-name">
            <p class="last-name-text">Last Name</p>
            <input type="text" class="last-name-input" name="last_name">
          </div>
      </div>
      <div class="third-row">
        <div class="suffix">
          <p class="suffix-text">Suffix</p>
          <input type="text" class="suffix-input" name="suffix">
        </div>
        <div class="birth-date">
          <p class="birth-date-text">Date of Birth</p>
          <input type="date" class="birth-date-input" name="date_of_birth">
        </div>
        <div class="contact-number">
          <p class="contact-number-text">Contact Number</p>
          <input type="text" class="contact-number-input" name="contact_number">
        </div>
        <div class="format-number">
          <p class="format">Format: [+][Country Code] [Number] (e.g, +19123456789)</p>
        </div>
      </div>
      <div class="after-third-fix">
        <div class="country-birth">
          <p class="country-birth-text">Country of Birth</p>
          <input type="text" class="country-birth-input" name="country_birth">
        </div>
        <div class="country-citizenship">
          <p class="country-citizenship-text">Country of Citizenship</p>
          <input type="text" class="country-citizenship-input" name="user_citizenship">
        </div>
      </div>
      <div class="fourth-row">
        <div class="email-address">
          <p class="email-address-text">Email Address</p>
          <input type="text" class="email-address-input" name="email">
        </div>
        <div class="verify-email">
          <p class="verify-email-text">Verify Email Address</p>
          <input type="text" class="verify-email-input" name="verify_email">
        </div>
      </div>

      <div class="sixth-row">
        <div class="password">
          <p class="password-text">Password</p>
          <input type="password" class="password-input" name="password">
        </div>
        <div class="verify-password">
          <p class="verify-password-text">Verify Password</p>
          <input type="password" class="verify-password-input" name="verify_password">
        </div>
        <button class="register-email" type="submit">Register</button>
      </div>
    </form>

    <div class="footer">
      <img src="{{ url_for('static', filename='Images/footer.png') }}" class="FooterPNG">
    </div>
  </body>
</html>
